.icons-section {
  position: fixed;
  max-width: var(--cMaxWidth);
  width: var(--cWidth);
  bottom: 0;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons {
  position: absolute;
  left: -20px;
  bottom: 20px;
  display: none;
  flex-direction: column;
  gap: 8px;
  z-index: 999;
  padding: 10px;
}

.social-icons span {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
}

.social-icons a {
  --siLeft: 50%;
  --siTop: 50%;
  position: absolute;
  left: var(--siLeft, 50%);
  top: var(--siTop, 50%);
  transform: translate(-50%, -50%);
  display: flex;
  font-size: 23px;
  will-change: left, top;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons a:hover {
  color: var(--accent);
  transform: translate(-50%, -50%) scale(1.2);
}

.social-icons a[download] {
  color: var(--accent);
}

.social-icons a[download]:hover {
  animation: bounce 0.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transform: translate(-50%, -50%) scale(1.2);
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -60%) scale(1.2);
  }
}

.resume-button {
  position: absolute;
  z-index: 99;
  display: flex;
  gap: 5px;
  bottom: 40px;
  right: 0;
  width: auto;
  text-wrap: nowrap;
  letter-spacing: 4px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  color: var(--text);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left bottom;
  transform: translateX(100%) rotateZ(-90deg);
}

.resume-button:hover {
  color: var(--accent);
  letter-spacing: 6px;
  transform: translateX(100%) rotateZ(-90deg) translateY(-5px);
}

div.resume-button span {
  color: var(--text);
  font-size: 17px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  transition: color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.resume-button:hover span {
  color: var(--accent);
}

.check-line {
  position: fixed;
  top: 655px;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: 99999;
}

@media only screen and (min-width: 900px) {
  .social-icons {
    display: flex;
  }
  .social-icons a {
    font-size: 28px;
  }
}

@media only screen and (min-width: 768px) {
  .resume-button {
    transform: none;
    right: 40px;
    bottom: 40px;
  }
  div.resume-button span {
    margin-top: -1.5px;
  }
}

@media only screen and (max-width: 767px) {
  .social-icons {
    display: none;
  }
  .resume-button {
    display: none;
  }
}
